.product-list-internal-title {
    font-size: 0.8rem;
}
.list-group-item.active {
    color: #fff;
}

.select-product-text {
    font-size: 1.2rem;
}

.product-detail-spinner {
    width: 4rem;
    height: 4rem;
}
